@import '_color.scss';

*{
  box-sizing: border-box;
}

.red-status{
  color: $color-red !important;
}

.yellow-status{
  color:$color-yellow;
}

.header-style{
  width: 100%;
  min-height: 4rem;
  background-color: $header-color;
}
